# Environment: local, staging, production
ENVIRONMENT=local

PROJECT_NAME="Open Cities Lab FastAPI Template"
STACK_NAME=City of Tshwane APIs
POETRY_VERSION=1.8.3

# Backend
BACKEND_CORS_ORIGINS="http://localhost,https://localhost"
SECRET_KEY=changethis
FIRST_SUPERUSER=admin@example.com
FIRST_SUPERUSER_PASSWORD=changethis

# Postgres
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changethis

SEED_FILE=changethis.sql
SMTP_USER='sender-email'
SMTP_HOST='somehost.com'
SMTP_PASSWORD='changethis'
SMTP_PORT=587
SMTP_TLS=True
SMTP_DEFAULT_SENDER='default-sender'

LOG_LEVEL="ERROR"

OCPO_BASE_URL=

# X-Road Headers
XROAD_CLIENT='Xroad Client'
XROAD_SERVICE='Xroad service'