fastapi==0.115.4
pydantic[email]===2.9.2
pydantic-settings==2.6.0
alembic==1.13.3
sqlalchemy[asyncio]==2.0.36
pyjwt==2.9.0
python-multipart
uvicorn==0.32.0
passlib==1.7.4
asyncpg==0.30.0
opentelemetry-distro
opentelemetry-exporter-otlp
opentelemetry-api
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-asyncpg
opentelemetry-instrumentation-sqlalchemy
opentelemetry-instrumentation-logging
opentelemetry-sdk-extension-aws
opentelemetry-propagator-aws-xray
python-dotenv==1.0.1
psycopg2-binary
boto3
botocore
httpx